h1 { color:white; text-align:center; background-color:red; }
p { font-family:"Times New Roman"; font-size:20px; text-align:center; }

h3{
	text-align:center;
	font-size: 1.5em;
}
form{
	text-align:center;
}

#imagenCandidatos {
   content:url(https://upload.wikimedia.org/wikipedia/commons/5/58/Spanish_Congress_of_Deputies_after_1986_election.png);
   width:600px;
   height:400px;
   margin:auto; 
   padding:0; 
   text-align: center;
}

.button {
  background-color: #00FF00; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius:8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

table {
   margin: auto;
   border: 1px solid #000;
   border-spacing: 0px;
}
th, td {
   width: 100px;
   text-align: center;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
}
th{
	background-color: #FFBFBF;
	
}

caption {
   padding: 0.3em;
}